# Database
DATABASE_URL="postgresql://thedrive_store:thedrive_store_2026@postgres-db:5432/thedrive-store?sslmode=require"

# Google Business / Maps
NEXT_PUBLIC_GOOGLE_BUSINESS_NAME="مركز لضبط الزوايا والترصيص The Drive"
NEXT_PUBLIC_GOOGLE_MAPS_COORDS="30.9472165,31.155854"
NEXT_PUBLIC_GOOGLE_PLACE_ID=""
NEXT_PUBLIC_GOOGLE_PLACE_URL="https://www.google.com/maps/place/%D9%85%D8%B1%D9%83%D8%B2+%D9%84%D8%B6%D8%A8%D8%B7+%D8%A7%D9%84%D8%B2%D9%88%D8%A7%D9%8A%D8%A7+%D9%88%D8%A7%D9%84%D8%AA%D8%B1%D8%B5%D9%8A%D8%B5+The+Drive%E2%80%AD/@30.9472165,31.155854,17z/data=!3m1!4b1!4m6!3m5!1s0x14f7bb985d243427:0xf849ebdffb23f5da!8m2!3d30.9472165!4d31.155854!16s%2Fg%2F11p0_v62xm"
NEXT_PUBLIC_BUSINESS_ADDRESS="منشية البكري ٨ شارع طلعت النجار"
NEXT_PUBLIC_BUSINESS_CITY="المحلة الكبرى"
NEXT_PUBLIC_BUSINESS_REGION="المحلة الكبرى"
NEXT_PUBLIC_FACEBOOK_URL="https://facebook.com/your-page"
NEXT_PUBLIC_TIKTOK_URL="https://www.tiktok.com/@your-account"

# Auth
BETTER_AUTH_SECRET=changeme
BETTER_AUTH_URL= # Application base URL (e.g., https://yourdomain.com)
BETTER_AUTH_TRUSTED_ORIGINS= # Comma-separated allowed origins (e.g., https://yourdomain.com)

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudflare R2 (Image Uploads)
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
NEXT_PUBLIC_R2_PUBLIC_URL=


